.gfeway_recurring_complex .gf_hidden {
	display: none;
}

.no-js #gfeway-opt-admin-stored-beagle,
.no-js #gfeway-opt-admin-stored-test {
	display: none;
}

#gfeway-opt-admin-stored-beagle,
#gfeway-opt-admin-stored-test {
	color: #c00;
	font-weight: bold;
}

#eway-settings-form fieldset {
	border: 1px dotted #ccc;
	margin-bottom: 1em;
	padding: 0.5em;
}

#eway-settings-form fieldset legend {
	margin-left: 0.5em;
	padding: 0 0.5em;
}

#eway-settings-form fieldset input[type=radio] + label {
	padding-left: 0.3em;
	padding-right: 1.2em;
}

.gfeway-settings-promote {
	float: right;
	background-color: #FFAF00;
	padding: 1em;
	border-radius: 3px;
}

.gfeway-settings-promote a,
.gfeway-settings-promote a:link,
.gfeway-settings-promote a:visited {
	font-weight: bold;
	color: black;
}
