
.forms_page_gfeway-options #icon-gf_edit_forms {
	background: transparent url(images/eway.png) no-repeat;
}

.gfeway_recurring_complex .gf_hidden {
	display: none;
}

.no-js #gfeway-opt-admin-stored-test {
	display: none;
}

#gfeway-opt-admin-stored-test {
	color: #c00;
	font-weight: bold;
}
